[Unit]
Description=Renew the EduKid TLS certificate twice a day

[Timer]
OnCalendar=*-*-* 03,15:27:00
RandomizedDelaySec=30m
Persistent=true

[Install]
WantedBy=timers.target
